<!-- students_detail.html -->
{% include 'auth/adminnav.html' %}
<style> .table{ background-color: aliceblue;}
   </style>
<h1 style="background-color:  #00bf72; ">Admin Courses</h1>

 
  {% comment %} <table class="table table-striped">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Course Type</th>
        <th>Course Files</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td>{{ course.course_name }}</td>
          <td>{{ course.course_type }}</td>
          <td>
            {% for file in course.course_files.all %}
              <p>
                <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a>
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file" name="course_files">
                  <button type="submit">Change File</button>
                </form>
              </p>
            {% endfor %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="course_name" value="{{ course.course_name }}">
                <input type="file" name="course_file">
                <button type="submit">Upload File</button>
              </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table> {% endcomment %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Course Type</th>
      <th>Course Files</th>
      
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
      <tr>
        <td>{{ course.course_name }}</td>
        <td>{{ course.course_type }}</td>
        <td>
          {% for file in course.course_files.all %}
            <p>
              <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a>
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="course_name" value="{{ course.course_name }}">
                <input type="hidden" name="course_file_id" value="{{ file.id }}">
                <input type="file" name="new_course_file">
                <button type="submit">Change File</button>
              </form>
            </p>
             
          {% endfor %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="course_name" value="{{ course.course_name }}">
            <input type="file" name="course_file">
            <button type="submit">Upload File</button>
          </form>
        
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>


